<html>
  <head>
    <title>Create Pokemon</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <form method="POST" action="/create">
        <label for="PokName">Name of the Pokemon</label>
        <input type="text" name="Name" id="PokName">
        <label for="PokType">Type of the Pokemon</label>
        <input type="text" name="Type" id="PokType">
        <label for="PokLevel">Level of the Pokemon</label>
        <input type="number" name="Level" id="PokLevel">
        <label for="PokTrainer">Trainer of the Pokemon</label>
        <input type="text" name="Trainer" id="PokTrainer">
        <button type="submit">Add new Pokemon</button>
     </form>    
  </body>
</html>